

.app{
    
    background-color: #fafafa;
}
.app__headerImage{
    
    width: 400px;
    object-fit:contain;
}
.app__header{
    background-color:#5003036b;
    padding:20px;
    border-bottom:1px solid rgb(134, 50, 50);
}
.app__signup{
    display:flex;
    flex-direction:column;
}